/* @import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css'); */

 @font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'STUNNING-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/STUNNING-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
:root {
  --theme-color: #6200ea;
  --gradient-color: linear-gradient(90deg, #6200ea, #9d47f4);
  --background-color: #f8f9fc;
  --text-color: #333333;
  --hover-color: #ffd700;
}

body {
  font-family: 'LINESeedKR-Bd', sans-serif;
}

/* 헤더 */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  color: white;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 로고 스타일 */
.header-logo {
  height: 100%;
}

/* 콘텐츠 */
.content {
  flex-grow: 1; /* 콘텐츠가 푸터와 헤더 사이를 채움 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 상단에 고정 */
  padding: 20px;
  width: 100%;
  background: #ffffff;
}

/* 푸터 */
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 64px;
  background: var(--backgroud-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 16px;
  color: white;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.header i,
.footer i {
  font-size: 24px;
  color: black;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.header i:hover,
.footer i:hover {
  color: var(--theme-color);
  transform: scale(1.1);
}


.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-item:hover {
  transform: scale(1.1);
  color: var(--hover-color);
}

.footer-item span {
  font-size: 12px;
  color: black;
}
