<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfit.mvc.model.dao.TaskDao">

	<!-- 전체 태스크 조회 -->
	<select id="selectAll" resultType="Task">
		SELECT * 
		FROM task;
	</select>
	
	<!-- 퀘스트 ID로 태스크 조회 -->
	<select id="selectQuestId" resultType="Task">
		SELECT * 
		FROM task
		WHERE quest_id = #{questId};
	</select>
	
	<!-- 유산소 태스크 추가 -->
	<insert id="insertCardioTask" parameterType="Task" keyProperty="taskId" useGeneratedKeys="true">
		INSERT INTO task (quest_id, cardio_minutes, exercise_id)
		VALUES (#{questId}, #{cardioMinutes}, #{exerciseId});
	</insert>
	
	<!-- 무산소 태스크 추가 -->
	<insert id="insertWeightTask" parameterType="Task" keyProperty="taskId" useGeneratedKeys="true">
		INSERT INTO task (quest_id, weight_kg, count, exercise_id)
		VALUES (#{questId}, #{weightKg}, #{count}, #{exerciseId});
	</insert>
	
	<!-- 태스크 삭제 -->
	<delete id="deleteTask" parameterType="int">
		DELETE FROM task
		WHERE task_id = #{taskId};
	</delete>
	
	<!-- 유산소 태스크 수정 -->
	<update id="updateCardioTask" parameterType="Task">
		UPDATE task
		SET cardio_minutes = #{cardioMinutes}, exercise_id = #{exerciseId}, weight_kg = #{weightKg}, count = #{count}
		WHERE task_id = #{taskId};
	</update>
	
	<!-- 무산소 태스크 수정 -->
	<update id="updateWeightTask" parameterType="Task">
		UPDATE task
		SET weight_kg = #{weightKg}, count = #{count}, exercise_id = #{exerciseId}, cardio_minutes = #{cardioMinutes}
		WHERE task_id = #{taskId};
	</update>

	<!-- 순서 수정 -->
	<update id="updateOrder" parameterType="Task">
		UPDATE task
		SET order_index = #{orderIndex}
		WHERE task_id = #{taskId};
	</update>
	
	<!-- isComplete 수정 -->
	<update id="updateTaskCompleted" parameterType="Task">
		UPDATE task
		SET is_completed = #{isCompleted}
		WHERE task_id = #{taskId};
	</update>
</mapper>